
.todoList{
    text-align: center;
}
.todoItem{
    border: 1px solid;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 20px;
    text-align: center;
    padding: 20px;

    display: flex;
    justify-content: space-between;

}
.todoInput{
    margin-top: 100px;


    text-align: center;
}